.App {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    background-color: #FFF8E8;
}

.counter-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 380px;
    height: 320px;
    border-radius: 20px;
    border: 5px solid #674636;
    gap: 10px;
    background-color: #FBF8ED;

    @media (max-width: 450px) {
        width: 330px;
        height: 320px;
    }
}

.number-div {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 350px;
    width: 100%;
    height: 150px;
    border: 5px solid #AAB396;
    border-radius: 20px;
    box-sizing: border-box;

    @media (max-width: 450px) {
        width: 300px;
    }
}

.value-div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 350px;
    height: 150px;
    border-radius: 20px;
    padding: 10px;
    box-sizing: border-box;
}

.buttons-div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 350px;
    height: 100px;
    box-sizing: border-box;
}

.button-main {
    background-color: #007F00;
    border-radius: 10px;
    border: none;
    font-family: Helvetica, sans-serif;
    font-size: 50px;
    font-weight: bold;
    color: rgba(3, 3, 6, 0.5);
    padding: 0 25px;
}

.span-counter {
    font-family: Helvetica, sans-serif;
    font-size: 90px;
    font-weight: bold;
    color: rgba(3, 3, 6, 0.79);
}

.span-counter-max {
    font-family: Helvetica, sans-serif;
    font-size: 90px;
    font-weight: bold;
    color: red;
}

.disabled {
    background-color: #CCD1C0;
    color: rgba(3, 3, 6, 0.5);
    border-radius: 10px;
    border: none;
    font-family: Helvetica, sans-serif;
    font-size: 50px;
    font-weight: bold;
    padding: 0 25px;
}

.span-value {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #AAB396;
}

.div-text {
    font-family: Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: rgba(7, 38, 48, 0.79);
}

.span-value-div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    text-align: center;

    @media (max-width: 450px) {
        justify-content: space-around;
    }
}

.input {
    border: 2px solid #AAB396;
    border-radius: 5px;
    font-family: Helvetica, sans-serif;
    font-size: 15px;
    font-weight: bold;
    padding: 10px;
    text-align: center;
    max-width: 150px;
    outline: none;
}

.enter-values {
    font-family: Helvetica, sans-serif;
    font-size: 15px;
    font-weight: bold;
    color: #990000;
    text-align: center;
}









